.register {
    display: flex;
    align-items: flex-start;
    text-align: center;
    border: 5px solid #d1e6ff;
    border-radius: 5px;
    margin-left: 300px;
    margin-right: 300px;
    width: 800px;

}